<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="wai-android-001" version="1.0.10">
	<name>WAI</name>
	<description>App from WAI Global</description>
	<!-- <author href="http://phonegap.com" email="support@phonegap.com">PhoneGap Team</author> -->
	<content src="index.html"/>
	<!-- IOS Only -->
	<!-- <preference name="target-device" value="universal"/> -->
	<!-- <preference name="prerendered-icon" value="true"/> -->
	<!-- <preference name="ios-statusbarstyle" value="black-opaque"/> -->
	<!-- <preference name="detect-data-types" value="true"/> -->
	<!-- <preference name="exit-on-suspend" value="false"/> -->
	<!-- <preference name="EnableViewportScale" value="true"/> -->
	<!-- Android Only -->
	<preference name="android-minSdkVersion" value="14"/>
	<!-- <preference name="android-maxSdkVersion" value="14"/> -->
	<preference name="android-installLocation" value="auto"/>
	<!-- General -->
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait"/>
	<preference name="fullscreen" value="false"/>
	<preference name="webviewbounce" value="true"/>
	<preference name="stay-in-webview" value="false"/>
	<preference name="show-splash-screen-spinner" value="true"/>
	<preference name="auto-hide-splash-screen" value="true"/>
	<preference name="disable-cursor" value="false"/>
	<!-- plugins -->
	<!-- <plugin name="phonegap-plugin-push"               source="npm"/> -->
	<!-- <plugin name="cordova-plugin-battery-status" source="npm"/> -->
	<plugin name="cordova-plugin-camera"              source="npm"/>
	<plugin name="cordova-plugin-console"             source="npm"/>
	<!-- <plugin name="cordova-plugin-contacts"            source="npm"/> -->
    <plugin name="cordova-plugin-device"              source="npm"/>
    <!-- <plugin name="cordova-plugin-device-motion"       source="npm"/> -->
    <plugin name="cordova-plugin-device-orientation"  source="npm"/>
    <plugin name="cordova-plugin-dialogs"  	          source="npm"/>
    <plugin name="cordova-plugin-file"                source="npm"/>
    <plugin name="cordova-plugin-file-transfer"       source="npm"/>
    <!-- <plugin name="cordova-plugin-geolocation"         source="npm"/> -->
    <plugin name="cordova-plugin-globalization"       source="npm"/>
    <plugin name="cordova-plugin-inappbrowser"        source="npm"/>
    <plugin name="cordova-plugin-media"               source="npm"/>
	<plugin name="cordova-plugin-media-capture"       source="npm"/>
    <plugin name="cordova-plugin-network-information" source="npm"/>
    <plugin name="cordova-plugin-splashscreen"        source="npm"/>
    <!-- <plugin name="cordova-plugin-statusbar"           source="npm"/> -->
    <!-- <plugin name="cordova-plugin-vibration"           source="npm"/> -->
	<plugin name="cordova-plugin-whitelist"           source="npm"/>
	<platform name="android">
		<allow-intent href="market:*"/>
		<!-- icon -->
		<icon src="www/res/icon/android/ldpi.png" qualifier="ldpi" />
		<icon src="www/res/icon/android/mdpi.png" qualifier="mdpi" />
		<icon src="www/res/icon/android/hdpi.png" qualifier="hdpi" />
		<icon src="www/res/icon/android/xhdpi.png" qualifier="xhdpi" />
		<icon src="www/res/icon/android/xxhdpi.png" qualifier="xxhdpi" />
		<icon src="www/res/icon/android/xxxhdpi.png" qualifier="xxxhdpi" />
		<!-- ========================================================================= -->
		<!-- splash screens -->
		<splash src="www/res/screen/android/1-por-ldpi.png" density="ldpi" /> 
		<splash src="www/res/screen/android/2-por-mdpi.png" density="mdpi" />
		<splash src="www/res/screen/android/3-por-hdpi.png" density="hdpi" />
		<splash src="www/res/screen/android/4-por-xhdpi.png" density="xhdpi" />
		<splash src="www/res/screen/android/5-por-xxhdpi.png" density="xxhdpi" />
		<splash src="www/res/screen/android/6-por-xxxhdpi.png" density="xxxhdpi" />
	</platform>

	<access origin="*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<allow-intent href="http://wai-news.com/*" />
</widget>